@model BibliotecaWeb.Models.Dtos.VMUsuarioLogin;
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Library4Fun</title>
    <link href="~/css/styles.css" rel="stylesheet" />
    <script src="~/lib/fontawesome/all.js"></script>
</head>
<body class="bg-dark">
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <br />
                <br />
                <br />
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Bienvenido a Library4Fun</h3></div>
                                <div class="card-body">
                                    <form asp-controller="Acceso" asp-action="Login" method="post">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" type="text" placeholder="Nombre usuario" asp-for="NombreUsuario" required />
                                            <label for="inputEmail">Nombre usuario</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" type="password" placeholder="Contraseña" asp-for="Clave" required />
                                            <label for="inputPassword">Contraseña</label>
                                        </div>
                                        @if (ViewData["Mensaje"] != null)
                                        {
                                            <div class="form-group">
                                                <div class="alert alert-danger" role="alert">
                                                    @ViewData["Mensaje"]
                                                </div>
                                            </div>
                                        }
                                     
                                        <div class="d-flex align-items-center justify-content-center mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                                        </div>
                                    </form>
                                </div>
                                 
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
